In [2]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall,Crop
0,90,42,43,20.879744,82.002744,6.502985,202.935536,Rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,Rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,Rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,Rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,Rice

In [3]:
data = df.to_dict(orient='records')

In [11]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://mpc2742:NqzEnEEC0fyICjmT@cluster0.hrrvpcg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [12]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [13]:
rec = collection.insert_many(data)

In [14]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall,Crop
0,68095cc3347e5c365eb07c06,90,42,43,20.879744,82.002744,6.502985,202.935536,Rice
1,68095cc3347e5c365eb07c07,85,58,41,21.770462,80.319644,7.038096,226.655537,Rice